.DS_Store
build/
DerivedData/
ChessBorder/build/
ChessBorder/ChessBorder/Resources/Engine/fairy-stockfish
ChessBorder/ChessBorder/Resources/Engine/fairy-stockfish-ios
ChessBorder/build/fairy-stockfish/
*.xcuserstate
xcuserdata/
**/project.xcworkspace/xcshareddata/
web/node_modules/
web/dist/
server/worker/node_modules/
server/multiplayer/node_modules/
server/multiplayer/dist/
server/worker/.dev.vars
.wrangler/
server/worker/.wrangler/
.env
